extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/blooddonation.css
      include ../static/css/responsive.css
block content
    section.background_events.section_1
        h1.tagline लोका: समस्ता: सुखिनो भवन्तु ।
    section.bloodcontent
        h1 Blood Donation
        div It seems everything is happening spontaneously and successfully at Sharva Foundation without any trace of slowing down. We are delighted to announce that we have successfully reached another milestone with our Blood drive. For this event, members of our family courageously came forward and donated blood towards a noble cause. We appreciate these 2 members on behalf of SHARVA Family and congratulate them for their participation for a good cause. In such testing time, doing such things isn’t any less than noble and with this we hope more and more people will come forward to help save a life. We look forward to see you at our family soon.
block scripts
  script
    include ../static/Javascript/hamburger.js
    include ../static/Javascript/activateEvents.js