extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/responsive.css
      include ../static/css/chocolate.css  
block content
    div.wrapper
        section.imagesSlider
            .wrap
                #cross( onclick="exit()").fa.fa-times
                #arrow-left.arrow
                #slider
                    .slide.slide1
                        .slide-content
                            //- span Image One
                    .slide.slide2
                        .slide-content
                            //- span Image Two
                    .slide.slide3
                        .slide-content
                            //- span Image Three
                    .slide.slide4
                        .slide-content
                            //- span Image Three
                    .slide.slide5
                        .slide-content
                            //- span Image Three
                    .slide.slide6
                        .slide-content
                            //- span Image Three
                    .slide.slide7
                        .slide-content
                            //- span Image Three
                    .slide.slide8
                        .slide-content
                            //- span Image Three
                    .slide.slide9
                        .slide-content
                            //- span Image Three
                #arrow-right.arrow
        section.main
            div.text
                h1 Chocolate Distribution
                p 
                 | Happiness doesn’t result from what we get, but from what we give. As divine as it sounds, we put these words into action. Sharva Foundation is glad to announce that we’ve accomplished another milestone. We have donated out 2500 Kinder joy chocolates, which were graciously sponsored by 
                 span.bold ZOMATO AND YUG FOUNDATION
                 |, to the children of Parvati Paitha,Khilarewadi slum, Pan Mala slum, Yewalewadi and Maher Foundation. The smiles that paved across the faces of kids, was truly heartwarming. It is this that encourages us to do more and more. We’ll be doing more down the path and we believe you can too. Join our family today.
            div.images
                div.smallscreen
                    img(src="/static/images/covid/chocolate/1.jpeg", alt="1" ,onclick="imagesSlider()")
                    img(src="/static/images/covid/chocolate/2.jpeg", alt="2" ,onclick="imagesSlider()")
                    img(src="/static/images/covid/chocolate/3.jpeg", alt="3",onclick="imagesSlider()")
                    img(src="/static/images/covid/chocolate/4.jpeg", alt="1" ,onclick="imagesSlider()")
                    img(src="/static/images/covid/chocolate/5.jpeg", alt="2",onclick="imagesSlider()")
                    img(src="/static/images/covid/chocolate/6.jpeg", alt="3",onclick="imagesSlider()")
block scripts
  script
    include ../static/Javascript/hamburger.js
    include ../static/Javascript/activateEvents.js
    include ../static/Javascript/chocolate.js