extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/contact.css
      include ../static/css/responsive.css
block  content
    div.connectbackground
        div.motto
            h2 Rebulding Lives for Future
    div.square
        div.part-1
            h1 Contact
            form(action="/contact" method="post")
                p Name :
                input(type="text" class = 'input' name="name" id = "name" onchange = "nameValidate(event)")
                p Email :
                input(type="email" name="email" class = 'input' onchange = "mailValidate(event)")
                p Message :
                textarea(name="textmessage" class = 'input' onchange = "messageValidate(event)")
                .margin.btns
                    input(type="button",class="submit-btn", onclick = "submitValidate()" value="Confirm" id = "confirm")
                    button(type="submit",  onclick = "thanks()" class = "submit-btn submit" id = "submit" ) Submit 
        div.part-2
            h2 Connect Us at
            h5 Call, Email - whatever works for you. We'll be here.
            div.call
                div.fa.fa-phone
                div +91 7006616995
            div.mail
                div.fa.fa-envelope
                div foundationsharva@gmail.com
            div.address
                div.fa.fa-map-marker
                div India
block scripts
    script
        include ../static/Javascript/hamburger.js
        include ../static/Javascript/contact.js