extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/contact.css
      include ../static/css/responsive.css
block  content
    div.page
        div.suggest
            p For Queries and Sugestions  
            div.clickhere-btn
                button
                    a(href="/form") Click Here
        div.otherinfo
            div Contact Us at
            div.iconlist
                div.fa.fa-envelope.iconlist
                div MAIl
            div.iconlist
                div.fa.fa-phone
                div PHONE
            div.iconlist
                div.fa.fa-map-marker
                div ADDRESS
