extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/contact.css
      include ../static/css/responsive.css
block  content
    div.connectbackground
        div
            h2 Rebulding Lives for Future
    div.square
        div.part-1
            h1 Contact
            form(action="")
                p Name :
                input(type="text")
                p Email :
                input(type="email")
                p Address :
                textarea(name="")
                button.btn Submit
        div.part-2
            h2 Connect Us at
            h5 Call, Email - whatever works for you. We'll be here.
            div.call
                div.fa.fa-phone
                div +91 7006616995
            div.mail
                div.fa.fa-envelope
                div foundationsharva@gmail.com
            div.address
                div.fa.fa-map-marker
                div India