extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/responsive.css
      include ../static/css/events.css
      include ../static/css/covid.css
block content
  .section
    h1.w3-center CHIPS DISTRIBUTION - PUNE 
    p 
      | We distributed 5 full boxes of chips i.e. 750 packets of Chips to kids of Hadapsar, Swargate and Sayyed Nagar -Pune, Maharashtra. This feat could not have been achieved without the help of Feeding India, as they were the one to sponsor it as well as YUG Foundation as they supplied us with them. We plan on taking more challenges up ahead and we’re sure we’ll conquer.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3200 }')
      .carousel-cell.event8-1
      .carousel-cell.event8-2
      .carousel-cell.event8-3
      .carousel-cell.event8-4
      .carousel-cell.event8-5
      .carousel-cell.event8-6
      .carousel-cell.event8-7
      .carousel-cell.event8-8
      .carousel-cell.event8-9
  .section
    h1.w3-center ROADSIDE BLANKET DISTRIBUTION - JAMMU
    p
      | At the most important time of the year when the winter is at its hardest, we  provided warmth to those people in need by donating 100 blankets. We distributed blankets to roadaside people residing in different areas of Jammu. 
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3200 }')
      .carousel-cell.event7-1
      .carousel-cell.event7-2
      .carousel-cell.event7-3
      .carousel-cell.event7-4
      .carousel-cell.event7-5
      .carousel-cell.event7-6
      .carousel-cell.event7-7
      .carousel-cell.event7-8
      .carousel-cell.event7-9
  .section
    h1.w3-center CHILDREN&apos;S DAY
    p
      | Diwali wasn’t completely filling out the 14th of November and thus Children’s day decided to kick in. Our team went an extra mile and did what we do best. Help. We donated pair of traditional clothes, faral boxes, cupcakes, chocolates, juice packs and diwali essentials  to 60 children at Mamta Bal Sadan orphanage located at Saswad Pune. We guess this is the way Sharva Foundation likes to celebrate any occasion. The children were extremely polite and gentle and made this day special for us too. Children are the founding blocks of the walls on which our society rests and thus they are essential.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3300 }')
      .carousel-cell.event6-1
      .carousel-cell.event6-2
      .carousel-cell.event6-3
      .carousel-cell.event6-4
      .carousel-cell.event6-5
      .carousel-cell.event6-6
      .carousel-cell.event6-7
      .carousel-cell.event6-8
      .carousel-cell.event6-9
  .section
    h1.w3-center DIWALI ROADSIDE DISTRIBUTION - PUNE
    p
      | The Festival of Lights was graciously upon us and although the festivities might get diminished but the necessities still remain. With that, we  successfully completed event of roadside distribution, of boxes of joy which were distributed among 30 families at Kondwa, Viman Nagar, Yerwada, Ghorpadi, Katraj and Kalyani Nagar. As it was Diwali, the boxes of joys contained Faral boxes, Blankets, Cupcakes, Namkeen packets and Diwali essentials. Everything was corresponded under proverb safety precautions. We’d also like to take this opportunity to cognisance, that although we might get overwhelmed with the extent of our festivities, there’s always someone out there you can help.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3400 }')
      .carousel-cell.event5-1
      .carousel-cell.event5-2
      .carousel-cell.event5-3
      .carousel-cell.event5-4
      .carousel-cell.event5-5
      .carousel-cell.event5-6
  .section
    h1.w3-center BLANKET DISTRIBUTION - NOIDA
    p
      | 2nd Oct 2020, what a remarkable day! Sharva Foundation had conquered yet another milestone! This event was a
      | tribute to Atharva Muley, founding member of SHARVA Foundation, a dear friend and an insightful human being. A
      | total of 50 food kits were distributed among people staying at labor camp near ARV Newtown situated in Pisoli,
      | Pune.We were overwhelmed to see the numerous donations from our volunteers. Another volunteer, MS Shilpa, who was
      | celebrating her birthday, decided to share her happiness with the kids with delicious cakes. Packets of laddoos
      | were also given out which we are sure made their day.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3800 }')
      .carousel-cell.event4-1
      .carousel-cell.event4-2
      .carousel-cell.event4-3
      .carousel-cell.event4-4
      .carousel-cell.event4-5
      .carousel-cell.event4-6
      .carousel-cell.event4-7
      .carousel-cell.event4-8
      .carousel-cell.event4-9
  .section
    h1.w3-center NUTRITION WEEK
    p
      | Sharva foundation felt an overwhelming sense of happiness and pride as for the first time we were able to
      | undertake our event of distribution of Blankets successfully. On the 20th of September, 2020, a total of 50
      | blankets were distributed at the Labor camp near Parthalagaon, Noida. It was a heartfelt moment for us to reach
      | out our hands to help the people and we are thankful for our members in Delhi who made this possible.
    .carousel(data-flickity='{ "groupCells": true,"autoPlay":3600 }')
      .carousel-cell.event3-1
      .carousel-cell.event3-2
      .carousel-cell.event3-3
      .carousel-cell.event3-4
      .carousel-cell.event3-5
      .carousel-cell.event3-6
      .carousel-cell.event3-7
      .carousel-cell.event3-8
      .carousel-cell.event3-9
  .section
    h1.w3-center CHOCOLATE DISTRIBUTION
    p
      | Happiness doesn&rsquo;t result from what we get, but from what we give and on the 26th of August 2020, Sharva family
      | achieved happiness having donated 2500 Kinder Joy Chocolates to the children of Parvati Paitha, Khilarewadi slum,
      | Pan Mala slum, Yewalewadi and Maher Foundation. The smiles that paved across the faces of kids, was truly
      | heartwarming and this was made possible by the gracious sponsorship by Zomato and Yug Foundation.
    .carousel(data-flickity='{ "groupCells": true ,"autoPlay":4000}')
      .carousel-cell.event2-1
      .carousel-cell.event2-2
      .carousel-cell.event2-3
      .carousel-cell.event2-4
      .carousel-cell.event2-5
      .carousel-cell.event2-6
      .carousel-cell.event2-7
      .carousel-cell.event2-8
      .carousel-cell.event2-9
  .section
    h1.w3-center INDEPENDENCE DAY
    p
      | Sharva family&rsquo;s first task was successfully executed on the 15th August, 2020. We were able to enumerate Slippers,
      | Cupcakes, Markers, White boards, Chocolates, Notebooks, Pencils and Sanitary napkins to Sarthak Seva Sangh in Pune
      | District, Maharashtra. This event was made possible by the generous sponsorship from Yug Foundation, SSD Box of
      | Delight, Jagruti Group and Advayta Zadoo.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":4200 }')
      .carousel-cell.event1-1
      .carousel-cell.event1-2
      .carousel-cell.event1-3
      .carousel-cell.event1-4
      .carousel-cell.event1-5
      .carousel-cell.event1-6
      .carousel-cell.event1-7
      .carousel-cell.event1-8
      .carousel-cell.event1-9
block scripts
  script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
    script(src='../static/Javascript/activateEvents.js')
    script(src='../static/Javascript/hamburger.js')