extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/covid.css
      include ../static/css/responsive.css
block content
  section.background_events.section_1
    h1.tagline लोका: समस्ता: सुखिनो भवन्तु ।
  section.section_2
    div.content
      div.text
        h1
          a(href="/independence") Independence Day
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptate sed? Ullam laborum quidem architecto quia unde nemo tempora, rerum velit? Harum, beatae qui. Optio esse ipsam est incidunt nam?
      img(src="../static/food.jpg" alt="")
    //- div.content
    //-   img(src="../static/food.jpg", alt="")
    //-   div.text
    //-     h1
    //-       a(href="/covid") Event 2
    //-     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptate sed? Ullam laborum quidem architecto quia unde nemo tempora, rerum velit? Harum, beatae qui. Optio esse ipsam est incidunt nam?
    //- div.content
    //-   div.text
    //-     h1
    //-       a(href="/covid") Event 3
    //-     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptate sed? Ullam laborum quidem architecto quia unde nemo tempora, rerum velit? Harum, beatae qui. Optio esse ipsam est incidunt nam?
    //-   img(src="../static/food.jpg", alt="")
block scripts
  script
    include ../static/Javascript/hamburger.js