extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/covid.css
      include ../static/css/responsive.css
block content
  //- section.background_events.section_1
    //- h1.tagline लोका: समस्ता: सुखिनो भवन्तु ।
  section.section_2
    div.content
      div.text
        h1
          |Independence Day
        p Sharva was able to enumerate Slippers, Cupcakes, Markers, White boards, Chocolates, Notebooks, Pencils and Sanitary napkins to Sarthak Seva Sangh in Pune District 
          button
            a(href="/independence") 
              b Read More...
      img(src="../static/images/covid/independence/cover.jpeg" alt="Independence Day")
    div.content
      img(src="../static/images/covid/chocolate/cover.jpeg" alt="Chocolate Distribution")
      div.text
        h1
          |Chocolate Distribution
        p Happiness doesn’t result from what we get, but from what we give. As divine as it sounds, we put these words into action. Sharva Foundation is glad to announce that we’ve accomplished another milestone. 
          button
            a(href="/chocolate") 
              b Read More...
block scripts
  script
    include ../static/Javascript/hamburger.js
    include ../static/Javascript/activateEvents.js