extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/events.css
      include ../static/css/responsive.css
block content
  section.background_events.section_1
    h1.tagline लोका: समस्ता: सुखिनो भवन्तु ।
  section.section_2
    h1.heading Event 1
    div.sectioncontainer
      div.sectioncontent
        p Lorem ipsum do Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates iste eius repellendus nemo explicabo itaque temporibus? Sapiente, beatae esse numquam pariatur doloribus, sit atque ipsum exercitationem voluptate officiis molestias laboriosam voluptatem molestiae. Dicta delectus exercitationem rerum laudantium quam dolores unde esse perspiciatis mollitia, commodi tempora corporis cupiditate necessitatibus, ipsa, iste dolorem voluptates repudiandae eligendi eveniet repellendus nam qui! Earum numquam cupiditate id voluptate dolores, aliquid beatae iste officiis magni facere iure ad accusantium nobis quod aut natus voluptates! Expedita architecto laudantium quo, quos soluta exercitationem aliquam nesciunt minima illo? Quam saepe provident ipsa laudantium ratione rerum deserunt rem officia quo!  beatae quod quas totam earum, facere repellat voluptate reiciendis voluptatum natus consequatur autem quia voluptatibus in veniam doloremque? Omnis ipsam voluptatum cum tempore, consequatur adipisci corporis non, libero velit rem commodi corrupti quos doloremque ab vel nam provident fuga nisi nobis! Molestiae voluptatem dolor voluptas ab ut maiores dolore exercitationem at, voluptatum recusandae iure cupiditate tempore tempora temporibus sint. Repudiandae, molestias. Vel assumenda quas possimus, perspiciatis laborum veniam molestiae beatae, hic deleniti dolores ipsa nostrum quasi. Incidunt quidem ea ex architecto quisquam tempore nam, repellendus ipsam, itaque, commodi necessitatibus maiores. Illum!
      div.sectionimages
        div#image
        div.imageslides
          image(src="../static/food.jpg"  class="image" alt="food")
          image(src="../static/health.jpg" class="image"  alt="health")
          image(src="../static/education.jpg" class="image"  alt="education")
block scripts
  script
    include ../static/Javascript/hamburger.js
    include ../static/Javascript/events.js