extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/events.css
      include ../static/css/responsive.css
block content
    h1 Covid-19
    h2 Independence Day
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nisi architecto voluptatum? Laboriosam, voluptates. Omnis, laborum distinctio! Quo sapiente optio quod corporis. Laborum autem tenetur similique id temporibus quaerat harum. Non at voluptatibus sunt ullam magnam laudantium? Tempore similique fuga quas minima dicta harum officiis fugit sed, delectus veniam blanditiis, soluta maxime ducimus qui facere nostrum quae magni? Impedit nam sunt facere tempora quaerat voluptas, fuga amet repudiandae perferendis quia ipsa nisi id error eligendi, magni, deserunt suscipit unde voluptatum atque. Porro incidunt ad explicabo exercitationem beatae dolorum sint quia quidem recusandae facilis ea repellendus, quis magnam? Dolor, soluta porro quos quibusdam ullam sequi, quasi nesciunt nemo sapiente consequuntur rem eum maxime quia officiis rerum unde sint molestias laboriosam mollitia! Quisquam optio incidunt necessitatibus nostrum inventore eveniet possimus accusamus. Natus quam eligendi doloribus maiores praesentium ducimus sint, aperiam reprehenderit error nam soluta nisi fuga! Ipsum, eum, cumque quaerat ipsam eaque itaque quae accusantium voluptatibus iste blanditiis corrupti voluptatum! Nihil fugit iure suscipit ad sapiente tenetur rerum consectetur, amet adipisci illo temporibus quisquam pariatur a cupiditate necessitatibus odio, illum cumque ducimus et blanditiis. Amet deserunt incidunt, fuga numquam omnis quisquam necessitatibus dolore vel quam natus saepe accusamus commodi eligendi id nisi. Corporis nobis, tempore sequi accusantium non nulla sapiente laborum doloribus? Minus eos repellendus, eum et provident voluptates architecto aut quas nobis rem assumenda obcaecati distinctio itaque ex nulla repudiandae alias deleniti doloremque reprehenderit sit tempora illum. Aperiam, expedita tenetur autem dolor deleniti itaque nihil obcaecati eius. Consectetur earum nostrum perspiciatis accusantium quas laboriosam odio similique eveniet incidunt assumenda recusandae aliquam labore delectus, natus est illum beatae iure culpa quisquam nihil? Eius, iure corrupti non sint architecto labore odio amet officia quia quidem commodi, qui temporibus magnam consequuntur molestias! Veritatis at et ipsum quo officia sint optio ratione eligendi necessitatibus nisi!
    div.img   
        img(src="../static/1.jpg", alt="")
        img(src="../static/2.jpg", alt="")
        img(src="../static/3.jpg", alt="")