extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/form.css
      include ../static/css/responsive.css
block  content
        form(action="" )
            h2 Contact Form
            div.namepart
                p Name :
                input(type="text" name="name")
            div.emailpart
                p Email :
                input(type="email" name="name")
            div.message
                p Message :
                textarea(name="message")
                button.messagebtn Submit