extends base.pug
block content
  section.background.firstsection(onload="activateHome()")
    h1.tagline लोका: समस्ता: सुखिनो भवन्तु ।
    a(href='/donate')
      button.donate-btn.bg Donate 
  section#aboutSection
    h2
      | About Us
    h4
      | “We make a living by what we get, but we make a life by what we give”
      | These Words define the very energy that flows through the heart of Sharva foundation.
      | We here at Sharva Foundation believe in building a community through giving. Our young minds and passion for this is what strives us towards giving the best! Although young, we look forward to do small things with great love. Each and every day a new member joins our family, and we ensure that we will keep expanding without overlooking our priorities. We look forward to see you in our family soon.
  section#counter
    .box1
      p.fa.fa-users
      div.counter(data-count="100") 100
      p Volunteers
    .box2
      p.fa.fa-pagelines
      div.counter(data-count="41") 41
      p Trees Planted
    .box3
      p.fa.fa-cutlery
      div.counter(data-count="64") 64
      p Food Kits
  section#goal
    div.head Our Goals
    div.text The optimus goal of Sharva Foundation is to be completely equipped and primed with relief funds so as to be ready with an optimum amount for any event or uncalled situation.
    div.bar 
      div.filled &#8377 28,000 out of &#8377 40,000 
      div.remaining 
    div.buttons
      button.donate
        a(href='/donate') MAKE A DONATION
      button.volunteer
        a(href='/joinus') BECOME A VOLUNTEER
  section#mission
    a(href="/covid").card1
        h1 COVID-19
        p
          | We are all a part of this unfortunate time. We understand the gravity of the situation. We take care of necessary precautions while doing our ventures as well as limit our staff to tha former. The safety of our family is our top priority at this moment, and we take at most precautions to do the same. This is the most sensitive time for the people that we aim to focus and we will not let this venture confine our goals.
    a(href="/blooddonation").card2
        h1 Blood Donation
        p
          | Sharva is delighted to announce that we have successfully reached another milestone with our Blood drive. For this event, members of our family courageously came forward and donated blood towards a noble cause. We appreciate these 2 members on behalf of SHARVA Family and congratulate them for their participation for a good cause. In such testing time, doing such things isn’t any less than noble and with this we hope more and more people will come forward to help save a life.
    a(href="/projectgreen").card3
        h1 Project Green
        p 
          | Sharva Foundation will be exploring a new segment in the coming months, called ‘PROJECT GREEN’. As cool and exciting the name sounds, it’s actually pretty simple and fun to begin with. PROJECT GREEN categories everything including planting trees, collecting up and dumping of waste, cleaning of any region or even doing the slightest of things which will make our surroundings a little more pleasant. See, it was that simple.
