extends base.pug

block content
  section.background.firstsection
    h1.tagline लोका: समस्ता: सुखिनो भवन्तु ।
    a(href='/donate')
      button.donate-btn.bg Donate 
  section#aboutSection
    h2
      | About Us
    h4
      | “We make a living by what we get, but we make a life by what we give”
      | These Words define the very energy that flows through the heart of Sharva foundation.
      | We here at Sharva Foundation believe in building a community through giving. Our young minds and passion for this is what strives us towards giving the best! Although young, we look forward to do small things with great love. Each and every day a new member joins our family, and we ensure that we will keep expanding without overlooking our priorities. We look forward to see you in our family soon.
  section#counter
    .box1
      p.fa.fa-users
      div.counter(data-count="0") 0
      p Volunteers
    .box2
      p.fa.fa-handshake-o
      div.counter(data-count="0") 0
      p Helped
    .box3
      p.fa.fa-cutlery
      div.counter(data-count="0") 0
      p Food Kits
  section#mission
    .card1
      h1 
        a(href="/events") COVID-19
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eaque itaque dolore hic aperiam! Ea ipsa
        | ullam nam mollitia adipisci praesentium laborum!
    .card2
      h1 Food
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Id alias earum perspiciatis, hic architecto
        | repellendus aspernatur repudiandae eum numquam ratione rem error nihil fugiat temporibus autem, nostrum
        | necessitatibus ullam, cumque saepe reiciendis adipisci!
    .card3
      h1 Education
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati excepturi similique a autem dicta
        | facilis molestiae quaerat! Voluptatibus, nostrum in, harum labore architecto consequuntur, magnam iure
        | quos amet minima repellendus non necessitatibus maxime!