extends base.pug
block content
  section.background.firstsection(onload="activateHome()")
    h1.tagline लोका: समस्ता: सुखिनो भवन्तु ।
    a(href='/donate')
      button.donate-btn.bg Donate 
  section#aboutSection
    h2
      | About Us
    h4
      | “We make a living by what we get, but we make a life by what we give”
      | These Words define the very energy that flows through the heart of Sharva foundation.
      | We here at Sharva Foundation believe in building a community through giving. Our young minds and passion for this is what strives us towards giving the best! Although young, we look forward to do small things with great love. Each and every day a new member joins our family, and we ensure that we will keep expanding without overlooking our priorities. We look forward to see you in our family soon.
  section#counter
    .box1
      p.fa.fa-users
      div.counter(data-count="30") 30
      p Volunteers
    .box2
      p.fa.fa-handshake-o
      div.counter(data-count="76") 76
      p Helped
    .box3
      p.fa.fa-cutlery
      div.counter(data-count="0") 0
      p Food Kits
  section#mission
    .card1
      h1 
        a(href="/covid") COVID-19
      p
        | We are all a part of this unfortunate time. We understand the gravity of the situation. We take care of necessary precautions while doing our ventures as well as limit our staff to tha former. The safety of our family is our top priority at this moment, and we take at most precautions to do the same. This is the most sensitive time for the people that we aim to focus and we will not let this venture confine our goals.
    .card2
      h1 
        a(href="#") Food
      p
        | Sharva Foundation dignifies giving by using urban surplus materials as a tool for urban development. We focus at providing raw food items like grains and rice to the families that are unable or underprivileged to acquire this commodity. The distribution happens to the selected areas where this condition exists. We feel that not a single person should sleep with an empty stomach and we do our best to take care of it.
    .card3
      h1
        a(href="#") Education
      p
        | Education is the foundation of one’s life and character. We find it extremely important that every child must have a proper basic education. This helps them to embark on a better path in their lives. Our team focuses on being able to entitle children with basic education by sending them to schools as well as making sure that they continue. Everyday we are exploring ways in which we can improve our execution and are coming up with ideas. An educated India is our vision and we do our part in doing so.