extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/independence.css
      include ../static/css/responsive.css
block content
    section.main
        div.text
            h1 Independence Day
            p Sharva family is glad to announce that we have undertaken our first task successfully.We were able to enumerate slippers, cupcakes, markers, white boards, chocolates, notebooks, pencils and  sanitary napkins to Sarthak Seva Sangh in Pune District. We undertook this by conducting a zoom interaction session while @sahil @vrushb @aniket took care of the distribution front. what a better way to celebrate India’s independence other than to do a noble deed on this auspicious day. It took India 200 years to shatter the chains of enslavement. Now we take it upon us to liberate it from the shackles of poverty. With small steps we have endeavoured our journey with great determination. We look forward to our next milestone soon.
            p.bold The sponsors for today's event were:
            p.bold Yug Foundation (sanitary napkins)
            p.bold SSD Box of Delight (cupcakes)
            p.bold Jagruti Group (Chocolates)
            p.bold Advayta Zadoo (notebooks)!
        div.images
            div.smallscreen
                img(src="../static/a.jpg", alt="1")
                img(src="../static/b.jpg", alt="2")
                img(src="../static/c.jpg", alt="3")
            div.smallscreen
                img(src="../static/d.jpg", alt="1")
                img(src="../static/e.jpg", alt="2")
                img(src="../static/f.jpg", alt="3")
            div.smallscreen
                img(src="../static/g.jpg", alt="1")
                img(src="../static/food.jpg", alt="2")
                img(src="../static/food.jpg", alt="3")