extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/independence.css
      include ../static/css/responsive.css
block content
    section.imagesSlider
        .wrap
            #cross( onclick="exit()").fa.fa-times
            #arrow-left.arrow
            #slider
                .slide.slide1
                    .slide-content
                        //- span Image One
                .slide.slide2
                    .slide-content
                        //- span Image Two
                .slide.slide3
                    .slide-content
                        //- span Image Three
                .slide.slide4
                    .slide-content
                        //- span Image Three
                .slide.slide5
                    .slide-content
                        //- span Image Three
                .slide.slide6
                    .slide-content
                        //- span Image Three
                .slide.slide7
                    .slide-content
                        //- span Image Three
                .slide.slide8
                    .slide-content
                        //- span Image Three
                .slide.slide9
                    .slide-content
                        //- span Image Three
            #arrow-right.arrow
    section.main
        div.text
            h1 Independence Day
            p 
             |Sharva family is glad to announce that we undertook our first task successfull. We were able to enumerate Slippers, Cupcakes, Markers, White boards, Chocolates, Notebooks, Pencils and Sanitary napkins to 
             span.bold Sarthak Seva Sangh 
             | in Pune District, Maharashtra. We accomplished this by conducting a zoom interaction session while our team was taking care of the distribution. What a better way to celebrate India’s independence other than to do a noble deed on this auspicious day. It took India 200 years to shatter the chains of enslavement. Now it's our duty to liberate it from the shackles of poverty. With small steps we have endeavoured our journey with great determination. We look forward to our next milestone soon.
            p.bold The sponsors for this event were:
            p.bold Yug Foundation (Sanitary Napkins)
            p.bold SSD Box of Delight (Cupcakes)
            p.bold Jagruti Group (Chocolates)
            p.bold Advayta Zadoo (Notebooks)
        div.images
            div.smallscreen
                img(src="/static/images/covid/independence/1.jpg", alt="1" ,onclick="imagesSlider()")
                img(src="/static/images/covid/independence/2.jpg", alt="2" ,onclick="imagesSlider()")
                img(src="/static/images/covid/independence/3.jpg", alt="3",onclick="imagesSlider()")
                img(src="/static/images/covid/independence/4.jpg", alt="1" ,onclick="imagesSlider()")
                img(src="/static/images/covid/independence/5.jpg", alt="2",onclick="imagesSlider()")
                img(src="/static/images/covid/independence/6.jpg", alt="3",onclick="imagesSlider()")
block scripts
  script
    include ../static/Javascript/hamburger.js
    include ../static/Javascript/activateEvents.js
    include ../static/Javascript/independence.js