extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/payment.css
      include ../static/css/responsive.css
block content
    h2.msg1 Sorry for the inconvience caused
    h4.msg2 Currently accepting payments through UPI and E-Wallets
    img(src="../static/payment.jpeg", alt="payment")
    h2.msg1 Thank You for your contribution