extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/projectgreen.css
      include ../static/css/responsive.css
block content
    section.background_events.section_1
        h1.tagline लोका: समस्ता: सुखिनो भवन्तु ।
    section.greencontent
        h1 Project Green
        div We are glad to announce that Sharva Foundation will be exploring a new segment in the coming months, called ‘PROJECT GREEN’. As cool and exciting the name sounds, it’s actually pretty simple and fun to begin with. We realise that even though we are not the first ones to initialise this, but we surely will do our part in annexing change. We realise that all of us sitting at home have familiarised ourself with being lazy and slothful, so we’ll put it up in simpler words to understand. PROJECT GREEN categories everything including planting trees, collecting up and dumping of waste, cleaning of any region or even doing the slightest of things which will make our surroundings a little more pleasant. See, it was that simple. As Sharva family strongly believes cleanliness is a part of the faith, the faith that drives us to do more, give more and witnessing change. Cleanliness is a state of purity, clarity, and precision and we should strive to do our best. We look forward to your adjoining in our venture soon.
block scripts
  script
    include ../static/Javascript/hamburger.js
    include ../static/Javascript/activateEvents.js