
.background_events{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slidingbg 80s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-color: rgba(0,0,0,.5);
    background-image: url('/static/images/blooddonation/slider_3.jpg');
    background-blend-mode: darken;

}

@keyframes slidingbg{
    0% {
        background-image:url('/static/images/blooddonation/slider_1.jpg');
    }
    25% {
        background-image:url('/static/images/blooddonation/slider_2.jpg');
    }
    50% {
        background-image:url('/static/images/blooddonation/slider_3.jpg');
    }
    75% {
        background-image:url('/static/images/blooddonation/slider_1.jpg');
    }
    100% {
        background-image:url('/static/images/blooddonation/slider_2.jpg');
    }
 
}

.greencontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin: 10px 150px;

}

.greencontent h1{
    font-size: 2.6rem;
}
.greencontent div{
    font-size: 1.3rem;
}