.connectbackground{
    background:rgba(0,0,0,0.5) url('../static/images/slider_1.jpeg') no-repeat center center/cover ;
    background-blend-mode:darken ;
    height: 300px;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.connectbackground{
    display: flex;
    justify-content: center;
    align-items: center;
}
.motto{
 text-align: center;
}
.square{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.part-1{
    box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.26);
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
}
.part-1 input{
    width: 230px;
    height: 22px;
    margin: 4px 0;
}
.part-1 textarea{
    width: 230px;
    height: 22x;
    margin: 4px 0;
}
.part-1 p{
    margin: 4px 0;
    font-size: 1rem;
}
.part-1 .btn{
    margin: 14px 0;
    display: block;
    width: 70px;
    height: 30px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
}
.part-1 .btn:hover{
    background-color: #e88f0a;
    font-weight: bold;
}
.part-2{

    width: 35%;

}
.part-2 h2{
    margin-bottom:4px ;
}
.call,.mail,.address{
    display: flex;
    align-items: center;
    cursor: pointer;
    cursor: pointer;
    margin: 8px 0;
}
.fa-phone,.fa-envelope,.fa-map-marker{
    background-color: #e88f0a;
    font-size: 1.2rem;
}

.submit-btn {
        font-size: 1.1rem;
        margin-left: 160px;
        /* margin-top: 20px; */
        height: 36px;
        width: 100px;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        border: 2px solid black;
    }
.submit-btn:hover{
    background-color: #e88f0a;
    font-weight: bold;
}
.submit
{
    display: none;
}
.margin{
    margin-bottom: 10px;
}

.btns{
    display: flex;
}

.hide
{
    display: none;
}
#confirm,#submit
{
    width: 90px;
    height: 30px;
}
/* =======================map============================== */
.map_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.about_branch{
    margin-top: 30px;
    width: 50%;
}
.map{
    position: relative;
    background: url('/static/images/map.jpeg') no-repeat center center;
    background-size: cover;
    background-size: 96% 100%;
    width: 50%;
    height: 500px;
    z-index: -1;
}
.map span{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    top: 61%;
    left: 24%;
    background-color: #e88f0a;
}
.map .marker2{
    left: 28%;
    top: 15%;
}
.map .marker3{
    left: 29%;
    top: 32%;
}
.map .marker4{
    left: 33%;
    top: 34%;
}
.map .marker5{
    left: 39%;
    top: 36%;
}

.font{
    font-size: 2rem;
}

.about_branch{
    display: flex;
    flex-direction: column;
}
.maharashtra,.haryana,.newdelhi,.uttarpradesh{
    margin: 10px;
}
@media only screen and (max-width:860px){
    .part-1{
        width: 40%;
    }
    .submit-btn{
        margin-left:20px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:630px){
    .square{
        flex-direction: column;
        height: 100%;
    }
    .map_container{
        flex-direction: column;
    }
    .map,.about_branch{
        width: 100%;
    }
    .part-1{
        width: 100%;
        box-shadow: none;
    }
    .map span{
        width: 10px;
        height: 10px;
    } 
    .map{
        height: 350px;
    }
}
@media only screen and (max-width:550px){
.part-2{
    width: 55%;
}
}
@media only screen and (max-width:350px){
.part-2{
    width: 98%;
}
}


@media only screen and (max-width:250px){
    .call,.mail,.address{
        flex-direction: column;
    }  
}