.connectbackground{
    background:rgba(0,0,0,0.5) url('../static/bg.jpg') no-repeat center center/cover ;
    background-blend-mode:darken ;
    height: 200px;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.connectbackground{
    display: flex;
    justify-content: center;
    align-items: center;
}
.motto{
 text-align: center;
}
.square{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.part-1{
    box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.26);
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
}
.part-1 input{
    width: 230px;
    height: 22px;
    margin: 4px 0;
}
.part-1 textarea{
    width: 230px;
    height: 22x;
    margin: 4px 0;
}
.part-1 p{
    margin: 4px 0;
    font-size: 1rem;
}
.part-1 .btn{
    margin: 14px 0;
    display: block;
    width: 70px;
    height: 30px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
}
.part-1 .btn:hover{
    background-color: #e88f0a;
    font-weight: bold;
}
.part-2{

    width: 35%;
    height: 260px;

}
.part-2 h2{
    margin-bottom:4px ;
}
.call,.mail,.address{
    display: flex;
    align-items: center;
    cursor: pointer;
    cursor: pointer;
    margin: 8px 0;
}
.fa-phone,.fa-envelope,.fa-map-marker{
    background-color: #e88f0a;
    font-size: 1.2rem;
}

.submit-btn {
        font-size: 1.1rem;
        margin-left: 160px;
        /* margin-top: 20px; */
        height: 36px;
        width: 100px;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        border: 2px solid black;
    }
.submit-btn:hover{
    background-color: #e88f0a;
    font-weight: bold;
}
.submit
{
    display: none;
}
.margin{
    margin-bottom: 10px;
}

.btns{
    display: flex;
}

.hide
{
    display: none;
}
#confirm,#submit
{
    width: 90px;
    height: 30px;
}
@media only screen and (max-width:860px){
    .part-1{
        width: 40%;
    }
    .submit-btn{
        margin-left:20px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:630px){
    .square{
        flex-direction: column;
        height: 100%;
    }


    .part-1{
        width: 100%;
        box-shadow: none;
    }

}
@media only screen and (max-width:550px){
.part-2{
    width: 55%;
}
}
@media only screen and (max-width:350px){
.part-2{
    width: 98%;
}
}