.heading{
    text-align:center;
    margin:5px 0;
    font-size: 2.2rem;
}

.background_events{
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slidingbg 50s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('/static/bg.jpg');

}

@keyframes slidingbg{
    0% {
        background-image:url('/static/bg.jpg');
    }
    25% {
        background-image:url('/static/1.jpg');
    }
    50% {
        background-image:url('/static/2.jpg');
    }
    75% {
        background-image:url('/static/3.jpg');
    }
    100% {
        background-image:url('/static/bg.jpg');
    }
 
}


.section_1{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.sectioncontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sectioncontent{
    /* background-color: red; */
    width: 50%;
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.sectioncontent p{
    padding: 10px;
}
.sectionimages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: brown; */
    width: 50%;
    height: 600px;
}
#image{
    /* border: 2px solid black; */
    height: 360px;
    width: 90%;
    margin: 10px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: bg 50s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('/static/health.jpg');

}

@keyframes bg{
    0% {
        background-image:url('/static/food.jpg');
    }
    25% {
        background-image:url('/static/education.jpg');
    }
    50% {
        background-image:url('/static/health.jpg');
    }
    75% {
        background-image:url('/static/food.jpg');
    }
    100% {
        background-image:url('/static/education.jpg');
    }
 
}



.imageslides{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    height: 168px;
    width: 200px;
    margin: 2px 20px;
    /* border: 2px solid black; */
}