 .fa{
    margin: 200px 0px;
   
    width: 100%;
}


form{
   height:  85vh;
   margin-top: 50px;
   margin-left: 20px;
}
.contact h2{
    text-align: center;
    /* margin-top: 12px; */
}
.contact-box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.namepart{
    display: flex;
    flex-direction: column;
    width: 40%;

    
}
.namepart input{
    padding: 2px;
    font-size: 1.1rem;

}
.emailpart input{
    padding: 2px;
    font-size: 1.1rem;
}
.namepart p{
    margin: 10px 2px;
    font-size: 1.3rem;
}
.emailpart p{
    margin: 10px 2px;
    font-size: 1.3rem;
}
.emailpart{
display: flex;
flex-direction: column;
width: 40%;

}
.message{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */


}
.message p{
    font-size: 1.3rem;
    margin-bottom: 6px;
}
.message textarea{
    width: 40%;
    height: 90px;
}
.messagebtn{
    height: 30px;
    outline: none;
    width: 114px;
    margin-top: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    border: 2px solid black;
}
.messagebtn:hover{
    background-color: #e88f0a;
    font-weight: bold;
    cursor: pointer;
}