@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Social media icons in the footer */
.social{
    
    
    margin: 5px -52px -1px -40px;
}
.social ul{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    margin-bottom: 5px;

}
.social ul li{
    list-style: none;
}
.fa {
    border-radius: 50%;
    padding: 7px;
    font-size: 18px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 3px;
  }
  

.fa-facebook {
    /* background: #3B5998; */
    color: white;
  }
.fa-facebook:hover {
    background: #3B5998;
    color: white;
  }
  
.fa-twitter{
    /* background: #55ACEE; */
    color: white;
  }
.fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
  
.fa-google {
    /* background: #dd4b39; */
    color: white;
  }
  
.fa-google:hover{
  background: #dd4b39;
    color: white;
  }


.fa-instagram {
    /* background: #125688; */
    color: white;
  }
.fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
   color: white;
}
.fa-whatsapp {
    /* background: #125688; */
    color: white;
  }
.fa-whatsapp:hover {
    background: #d6249f;
    background: rgb(9, 119, 9);
   color: white;
}
/* logo styling inside the navigation bar*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 64px;
    /* border-radius: 50%; */
    margin-left: 90px;
    margin-right: 82px;
    cursor: pointer;
}

/* -------------------------------navigation bar--------------------------------- */
.background-nav{
    background: white;
    
}

.navbar{
    height: 64px;
    display: flex;
    position: sticky;
    top: 0 ;
    box-shadow: 10px -1px 10px black;
}
.nav-list{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 80%;
    
    text-align: left;
}

.nav-list li{
    font-size: 1.5rem;
    list-style: none;
    padding: 2px 20px;
    
    
}

.nav-list li a {
    text-decoration: none;
    color: #323232;
    font-size: 1.25rem;
}
.nav-list li a:hover{
    font-weight: bold;
    color:#e88f0a;
}
.nav-list li a.active{
    color:#e88f0a;
    font-weight: bold;
}
/* ----------------------------dropdown------------------------------- */


.dropmenus{
    display: none;
}

.nav-list li:hover .dropmenus{
    display: block;
    padding-top: 18px;
    padding-bottom: 10px;
    top: 45px;
    position: absolute;
    box-shadow: 5px 6px 10px -4px rgba(0, 0, 0, 0.7);
    background-color: white;
    /* text-align: center; */
    left: 310px;
    /* width: 140px; */
}
.nav-list li:hover .dropmenus li{
    margin:4px;
    margin-left: 0px;

}


/* ----------------right nav--------------------------- */

.rightnav{
  
    width: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.searchbox input{
    outline: none;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 3px;
    animation-name: searchbar;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}
@keyframes searchbar{
    from{
        width: 0;
    }
    to{
        width: 150px;
    }
}

.vissible{
    display: none;
}
.search{
    /* margin-left: 100px; */
    cursor: pointer;
}
#search{
    padding: 4px;
    font-size: 11px;
border: 2px solid black;
border-radius: 9px;
}

  .search-btn{
    height: 31px;
    width: 70px;
    background:white;
    color: black;
    outline: none;
    border-radius: 28px;
    border: 2px solid black;
    font-size: rem;
    cursor: pointer;
}

.search-btn:hover{
    background-color: cornsilk;
}


/*------------------------------------- donate button -----------------------------*/
.donate-btn {
    height: 46px;
    width: 110px;
    background:white;
    border-radius: 6px;
    /* color: #323232; */
    outline: none;
    /* border-radius: 28px; */
    border: 2px solid white;
    background:#e88f0a;
    cursor: pointer;
}

.donate-btn a{
    text-decoration: none;
    color:#323232;
    font-size: 1.25rem;
    padding: 10px;
    
}
.donate-btn a.activeDonate{
    font-weight: bold;
}

.donate-btn:hover{

    font-weight: bold;
}
.bg{
    background:none;
    color: white;
    font-size: 1.5rem;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 40px;
}
.bg:hover{
    color:black;
    background: #e88f0a;
    border: 2px solid black;

}
.tagline{
    cursor: pointer;
    font-size: 2.5rem;
    text-align: center;
}
.tagline:hover{
    color: #e88f0a;
}
/*------------------------ first section---------------------- */


/* --------section background-------- */

.background{
    width: 100%;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slidingbg 80s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    background-image: url('/static/images/slider_1.jpeg');
    background-blend-mode: darken;

}

@keyframes slidingbg{
    0% {
        background-image:url('/static/images/slider_1.jpeg');
    }
    25% {
        background-image:url('/static/images/slider_2.jpeg');
    }
    50% {
        background-image:url('/static/images/slider_3.JPG');
    }
    75% {
        background-image:url('/static/images/slider_4.JPG');
    }
    100% {
        background-image:url('/static/images/slider_1.jpeg');
    }
 
}

.firstsection{
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}
.firstsection p{
    font-size: 1.5rem;
    margin-bottom: 10px;
}


/* -------------------------------about section---------------------------------- */
#aboutSection {
    flex-direction: column;
    /* height: 270px; */
    /* background-color: rgb(251, 251, 251); */
    /* text-align: center; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aboutSection h2{
    display: inline;
    
    border-bottom: 3px solid rgb(141, 9, 38);
}
#aboutSection h4 {
    margin: 12px auto;
    /* display: block; */
    width: 48%;
    text-align: center;
}

/* ------------------------counter section------------------- */

#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #323232; */
    flex-direction: row;
    /* margin-bottom: 30px; */

}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    /* border: 2px solid white ; */
    height: 170px;
    width: 33.33%;
    /* margin-left: 25px; */
    background-color: #e88f0a;
}
#counter .fa{
    font-size: 44px;
    margin-right: 31px;
}
#counter .fa-tint{
    margin-right: 7px;
}
#counter .fa-pagelines{
    margin-right: 10px;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    /* border: 2px solid white; */
    height: 170px;
    width: 33.33%;
    background-color: #e1a448;
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    /* border: 2px solid white; */
    height: 170px;
    width: 33.33%;
    /* margin-right: 25px; */
    background-color: #efbc70;
}



/* -----------------------cards------------------------------------- */

#mission{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    /* background-color: rgba(87, 69, 69, 0.781); */
    text-align: center;
    /* padding-top:25px ; */
}
#mission p   { 
color: black;
font-weight: bold;
}
#mission h1{
    
    font-size: 2.7rem;
    text-align: center;
}

.card1{
    background:url('../static/images/covid.jpg') no-repeat center center/cover;
    /* border: 2px solid black; */
    background-blend-mode: darken;
    width: 30%;
    height: 196px;
    border-radius: 14px;
    text-decoration: none;
    padding: 50px 2px;
    transition:0.5s;
}
.card1:hover{
    z-index: 1;
    transform:scale(1.07);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}
.card2:hover{
    z-index: 1;
    transform:scale(1.07);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}
.card3:hover{
    z-index: 1;
    transform:scale(1.07);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}
.card2{
    background:url('../static/images/blooddonation.jpg') no-repeat center center/cover;
    /* border: 2px solid black; */
    background-blend-mode: darken;
    text-decoration: none;
    width: 30%;
    height: 196px;
    border-radius: 14px;
    padding: 50px 2px;
    transition:0.5s;
}
.card3{
    background: url('../static/images/projectgreen.jpg') no-repeat center center/cover;
    /* border: 2px solid black; */
    background-blend-mode: darken;
    width: 30%;
    height: 196px;
    text-decoration: none;
    border-radius: 14px;
    padding: 50px 2px;
    transition:0.5s;
}
.card1 h1{
    text-decoration: none;
    color: black;
}
.card2 h1{
    text-decoration: none;
    color: black;
}
.card3 h1{
    text-decoration: none;
    color: black;
}
.card1 h1:hover{
    color: #e88f0a;
}
.card2 h1:hover{
    color: #e88f0a;
}
.card3 h1:hover{
    color: #e88f0a;
}

/* .card1 h1{
    padding: 0px 2px 26px 2px;
    
    margin: 16px 2px;

}

.card2 h1{
    padding: 0px 2px 26px 2px;
    
    margin: 16px 2px;

}

.card3 h1{
    padding: 0px 2px 26px 2px;
   
    margin: 16px 2px;

} */


/*-------------------------- foooter-------------------------------------- */
.fa-foot {
    border-radius: 50%;
    padding: 7px;
    font-size: 21px;
    width: 21px;
    text-align: center;
    text-decoration: none;
    margin: 4px 3px;
}

.social-foot{
    margin: 5px -46px -1px -80px;
}
.social-foot ul{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    margin-bottom: 5px;

}
.social-foot ul li{
    list-style: none;
}
#footer{
    height: 180px;
    background-color: black;
    }
    
    #footer{
        color: white;
    }
    
    .foot1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        height: 146px;
        flex-direction: row;
    
    }
    .recent{
        /* border: 2px solid white ; */
        width: 25%;
        margin-left: 25px;
        
    }
.recent a{
    text-decoration: none;
    color: white;
}
.recent a:hover{
    color: #e88f0a;
}
.recent p,h4{
    padding-left: 5px;
    padding-bottom: 6px;
}
.recent h2{
    padding-bottom: 8px;
}
.recent h4{
    padding-bottom: 10px;
}
    /* .address{
        border: 2px solid white;
        height: 250px;
        width: 20%;
    } */
/* 
    .address p{
        padding-left: 4px;
        padding-bottom: 2px;
    } */
    .contact{
        height: 300px;
        /* border: 2px solid white; */
        width: 40%;
        margin-right: 25px;
    }
    .contact h2{
        text-align: center;
        /* margin-top: 12px; */
    }
    .contact-box{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .namepart{
        display: flex;
        flex-direction: column;
        width: 40%;
  
        
    }
    .namepart input{
        padding: 2px;
        font-size: 1.1rem;

    }
    .emailpart input{
        padding: 2px;
        font-size: 1.1rem;
    }
    .namepart p{
        margin: 10px 2px;
        font-size: 1.3rem;
    }
    .emailpart p{
        margin: 10px 2px;
        font-size: 1.3rem;
    }
    .emailpart{
    display: flex;
    flex-direction: column;
    width: 40%;

    }
    .message{
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */


    }
    .message p{
        font-size: 1.3rem;
        margin-bottom: 6px;
    }
    .message textarea{
        width: 100%;
        height: 90px;
    }
    .messagebtn{
        height: 30px;
        outline: none;
        width: 114px;
        margin-top: 8px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 3px;
    }
    .messagebtn:hover{
        background-color: #e88f0a;
        font-weight: bold;
        cursor: pointer;
    }
    .foot2{
        display:flex;
        /* justify-content: center; */
        align-items: center;
        height: 13px;
    }
    .rights{
     width: 55%;
    }
 .socialfoot{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 5px;
}
.privacy-policy{
    width: 30%;

}
.privacy-policy a{
    text-decoration: none;
    color: white;
}

/* ----------------------------burger------------------------------------ */
.burger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 8%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: rgb(0, 0, 0);
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width:1000px){
    .firstsection{
        height: 50vh;
    }
}

@media only screen and (max-width:500px){
    .firstsection{
        height: 50vh;
    }
}