.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

.text{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 50%;
    height: 90vh;
}
.text h1{
    text-align:center;
    margin: 6px 0;
    font-size: 2.0rem;
}
.text p{
    text-align: justify;
    width: 96%;
    font-size: 1.1rem;
    margin: 4px 4px 4px 12px;
}
.bold{
    font-weight: bold;
}
.images{
    display: flex;
    height: 90vh;
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    width: 50%;
    background-color: #bae1e375;
}


.smallscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 100px;
}

.smallscreen img{
    height: 36%;
    width: 28%;
    border-radius: 6px;
    margin: 10px 10px;
    cursor: pointer;
    transition:0.5s;
}

.smallscreen img:hover{
    z-index: 1;
    transform:scale(1.15);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}

.imagesSlider{
    display: none;
    position: absolute;
    top: 0px;
    height: 70vh;
    width: 100%;
    /* background-color: gray; */
}
#cross{
position: absolute;
color: white;
font-size: 2rem;
cursor: pointer;
right: 16px;
}
#cross:hover{
    color:#e88f0a;
}

body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("/static/images/covid/independence/1.jpeg");
}
.slide2 {
  background-image: url("/static/images/covid/independence/2.jpeg");
}
.slide3 {
  background-image: url("/static/images/covid/independence/3.jpeg");
}
.slide4 {
  background-image: url("/static/images/covid/independence/4.jpeg");
}
.slide5 {
  background-image: url("/static/images/covid/independence/5.jpg");
}
.slide6 {
  background-image: url("/static/images/covid/independence/6.jpeg");
}
.slide7 {
  background-image: url("/static/images/covid/independence/7.jpeg");
}
.slide8 {
  background-image: url("/static/images/covid/independence/8.jpeg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}
#arrow-right:hover{
border-color:transparent transparent transparent #e88f0a;
}
#arrow-left:hover{
border-color:transparent #e88f0a transparent transparent;
}
#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}


@media only screen and (max-width:1000px){
    .main{
        flex-direction: column;
        height: 100%;
    }
    .text{
        height: 100%;
        margin: 10px 0;
        width: 100%;
    }
    .images{
        width: 100%;
        height: 100%;
    }
}


@media only screen and (max-width: 1063px)
{#footer {
  
    height: 60%;
}}
@media only screen and (max-width: 750px)
{
  .slide{
  
    background-size:100% 60%;
}
#arrow-right{
  border-width: 15px 0 15px 20px;
}
#arrow-left{
  border-width: 15px 20px 15px 0;
}
#cross {
  top: 140px;
  right: 6px;
}
}
@media only screen and (max-width: 500px)
{
  .slide{
  
    background-size:100% 40%;
}
#cross {
  top: 230px;
  right: -10px;
font-size: 1.2rem;
}
}