
.background_events{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 70vh;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slidingbg 80s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-color: rgba(0,0,0,.5);
    background-image: url('/static/images/projectgreen/slider_1.jpeg');
    background-blend-mode: darken;

}

@keyframes slidingbg{
    0% {
        background-image:url('/static/images/projectgreen/slider_1.jpeg');
    }
    25% {
        background-image:url('/static/images/projectgreen/slider_2.jpeg');
    }
    50% {
        background-image:url('/static/images/projectgreen/slider_3.jpeg');
    }
    75% {
        background-image:url('/static/images/projectgreen/slider_1.jpeg');
    }
    100% {
        background-image:url('/static/images/projectgreen/slider_2.jpeg');
    }
 
}

.greencontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin: 10px 150px;

}

.greencontent h1{
    font-size: 2.6rem;
}
.greencontent div{
    font-size: 1.3rem;
}


@media only screen and (max-width:850px){
    .greencontent{
        margin:10px 20px;
    }
}

@media only screen and (max-width:1000px){
    .background_events {
        height: 30vh;
    }
}

@media only screen and (max-width:500px){
    .background_events {
        height: 40vh;
    }
}